<div class="index">
  <div class="header">
    <span>index</span>
    <span>|</span>
    <a href="/ponytail/migrations/new">new</a>
  </div>

  <% if notice %>
    <div class="notice">
      <div class="message"><%= notice %></div>
      <div class="close"><a href="#">x</a></div>
    </div>
  <% end %>

  <div class="container">
    <div class="left_div">
      <div class="migration_filepath"><%= "#{Ponytail::Migration.migrations_path}/" %></div>
      <div class="migration_files">
        <table>
          <% @migrations.each do |migration| %>
            <% if migration.current? %>
              <tr class="current">
                <td>*</td>
            <% else %>
              <tr>
                <td></td>
            <% end %>
              <td class="filename"><%= migration.filename_only %></td>
              <td class="version"><%= migration.version %></td>
              <td class="raw_content"><%= migration.raw_content %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="migration_file">
      <% migration = @migrations[0] %>
      <div class="migration_filename"><%= migration.filename_only %></div>
      <div class="raw_content">
        <pre><code><%= migration.raw_content %></code></pre>
      </div>
    </div>
  </div>

  <div class="actions">
    <div>
      <button class="new_button">New</button>
    </div>
    <div class="migrate">
      <% if !Ponytail::Migration.check_pending? %>
        <button class="migrate_button">Migrate</button>
      <% else %>
        <button class="migrate_button" disabled="disabled">Migrate</button>
      <% end %>
      <% if !Ponytail::Migration.check_pending? && !@migrations[0].current? %>
        <button class="rollback_button">Rollback</button>
      <% else %>
        <button class="rollback_button" disabled="disabled">Rollback</button>
      <% end %>
    </div>
  </div>
</div>

<script type='text/javascript'>
  new Ponytail.Views.MigrationsIndex({el: $(".index")}).render();
</script>
