<div class="index">
  <div class="header">
    <span>index</span>
    <span>|</span>
    <a href="/rails/migrations/new">new</a>
  </div>

  <% if notice %>
    <div class="notice">
      <div class="message"><%= notice %></div>
      <div class="close"><a href="#">x</a></div>
    </div>
  <% end %>

  <div class="container">
    <div>
      <!-- TODO: fake it! -->
      <% path = 'db/migrate/' %>
      <div class="migration_filepath"><%= path %></div>
      <div class="migration_files">
        <table>
          <% @migrations.each do |migration| %>
            <tr>
              <td><%= migration.version == @current_version ? "*" : "" %></td>
              <!-- TODO: fake it!(sub) -->
              <td class="filename"><%= migration.filename.sub(path, "") %></td>
              <td class="raw_content"><%= migration.raw_content %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="migration_file">
      <% migration = @migrations[0] %>
      <!-- TODO: fake it!(sub) -->
      <div class="migration_filename"><%= migration.filename.sub(path, "") %></div>
      <div class="raw_content">
        <pre><%= migration.raw_content %></pre>
      </div>
    </div>
  </div>

  <div class="actions">
    <div>
      <button class="new_button">New</button>
    </div>
    <div class="migrate">
      <button class="migrate_button" <%= Ponytail::Migration.check_pending? ? 'disabled="disabled"' : '' %>>Migrate</button>
      <button class="rollback_button" <%= Ponytail::Migration.check_pending? ? 'disabled="disabled"' : '' %>>Rollback</button>
    </div>
  </div>
</div>

<script type='text/javascript'>
  new Ponytail.Views.Index({el: $(".index")}).render();
</script>
