<div class="pt_index">
  <%= render 'notice' %>

  <% @migrations.each do |migration| %>
    <%= render 'migration', migration: migration, current: @current_version %>
  <% end %>

  <div class="pt_actions">
    <%= button_to 'New', new_migration_path, method: :get, disabled: Ponytail::Migration.check_pending? %>
    <%= button_to 'Migrate', migrate_migrations_path, disabled: Ponytail::Migration.check_pending? %>
    <%= button_to 'Rollback', rollback_migrations_path, disabled: Ponytail::Migration.check_pending? %>
  </div>
</div>

<script type='text/javascript'>
  toggleMigrationRawContent();
  closeNotice();
</script>
